.WQwKa{
position:fixed;
width:100%;
margin:0 auto;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
padding-left:12px;
padding-right:24px;
padding-top:8px;
padding-bottom:8px;
margin-top:8px;
margin-bottom:8px;
z-index:10;
top:0;
left:0;

}
@media screen and (min-width:576px){
.WQwKa{
padding-right:12px;
padding-top:12px;
padding-bottom:12px;
margin-top:12px;
margin-bottom:12px;

}
}
.gfalPI{
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
width:100%;
height:100%;

}
.hOaBSk{
width:44px;
height:44px;

}
.dcaoLB{
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
position:inherit;
padding-bottom:0;
overflow-x:hidden;
width:100%;
height:100%;

}
.ewSEqQ{
-webkit-flex:1;
-ms-flex:1;
flex:1;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-box-pack:justify;
-webkit-justify-content:space-between;
-ms-flex-pack:justify;
justify-content:space-between;
padding-left:16px;
padding-right:16px;
padding-top:64px;
padding-bottom:32px;
height:100%;
width:100%;

}
@media screen and (min-width:576px){
.ewSEqQ{
padding-bottom:64px;
display:grid;
}
}
.dLqIok{
margin:0 auto;
height:100%;
width:100%;
max-width:680px;

}
.hDfBrV{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
z-index:-1;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
background-color:#fff;
background-style:noise;

}
.dTcluo{
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
width:100%;
height:100%;

}
.eZNKTD{
margin-bottom:16px;

}
.llgrqs{
margin-left:12px;
margin-right:12px;
max-width:100%;

}
.jWrdnz{
padding-left:40px;
padding-right:40px;
margin-top:4px;

}
.jrDHLp{
margin-top:32px;

}
.pkAuV{
position:relative;

}
.bIlyBn{
position:relative;
height:auto;
style-type:fill-scale-shadow;
border-radius:4px;
grid-border-radius:4px;

}
.gZIEiX{
left:4px;
width:46px;
height:46px;
border-radius:4px;
width:48px;
height:48px;

}
.MUXSj{
min-height:auto;
position:relative;

}
.hJerva{
overflow:hidden;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;

}
.TOBck{
height:auto;

}
.gWDeZD{
position:relative;
height:auto;
overflow:hidden;

}
.kzDdRs{
margin-top:32px;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
width:100%;
height:100%;

}
.jdVMHa{
height:20px;
width:100%;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
margin-bottom:8px;
logo:black;

}
.Tmnro{
display:contents;

}
.hePogb{
height:100%;

}
.fYPUMq{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:row;
-ms-flex-direction:row;
flex-direction:row;
-webkit-box-pack:start;
-webkit-justify-content:flex-start;
-ms-flex-pack:start;
justify-content:flex-start;
font-family:inter;
position:absolute;
height:auto;
bottom:16px;
padding-left:20px;
width:100%;
color:rgba(0,0,0,0.6);

}
data-styled.g1[id="sc-bdfBwQ"]{
content:"WQwKa,jAmcnV,gfalPI,hOaBSk,dcaoLB,ewSEqQ,dLqIok,hDfBrV,dTcluo,eZNKTD,llgrqs,jWrdnz,jrDHLp,pkAuV,bIlyBn,gZIEiX,MUXSj,hJerva,TOBck,gWDeZD,kzDdRs,jdVMHa,Tmnro,hePogb,fYPUMq,"
}
.bhdLno{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;

}
data-styled.g2[id="sc-gsTCUz"]{
content:"bhdLno,"
}
.bySOlY{
margin:0;
color:#000;
font-weight:700;
font-weight:700;
font-size:20px;
line-height:1.5;
text-overflow:ellipsis;
max-width:100%;
overflow:hidden;

}
.kOHhcY{
margin:0;
text-align:center;
font-size:14px;
font-weight:700;
color:#000;
font-size:16px;
line-height:1.5;

}
@media screen and (min-width:576px){
.kOHhcY{
font-size:16px;

}
}
data-styled.g3[id="sc-dlfnbm"]{
content:"bySOlY,kOHhcY,"
}
.gRrZhT{
padding:0;
margin:0;
font-weight:600;
line-height:1.5;
font-size:16px;
line-height:1.5;

}
.ilsgNQ{
padding:0;
margin:0;
text-align:center;
line-height:1.5;
color:rgba(0,0,0,0.6);
font-size:14px;
font-weight:500;
line-height:1.5;

}
@media screen and (min-width:576px){
.ilsgNQ{
font-size:16px;

}
}
.cxwgnw{
padding:0;
margin:0;
line-height:1.5;
width:100%;
font-weight:500;
font-size:14px;

}
@media screen and (min-width:576px){
.cxwgnw{
font-size:16px;

}
}
data-styled.g4[id="sc-hKgILt"]{
content:"gRrZhT,ilsgNQ,cxwgnw,"
}
.ckHcDD{
width:44px;
height:44px;
border-radius:50%;
width:44px;
height:44px;
display:grid;
object-fit:contain;
object-position:initial;
-webkit-filter:none;
filter:none;

}
.flTywP{
width:96px;
height:96px;
border-radius:50%;
width:96px;
height:96px;
display:grid;
object-fit:contain;
object-position:initial;
-webkit-filter:none;
filter:none;

}
.gLxBPj{
border-radius:0;
display:grid;
height:100%;
object-fit:cover;
object-position:initial;

}
data-styled.g8[id="sc-iBPRYJ"]{
content:"ckHcDD,flTywP,gLxBPj,"
}
.ldGKnQ{
padding:0;
margin:0;
border:none;
font-family:inherit;
font-weight:inherit;
font-size:inherit;
text-align:center;
cursor:pointer;
display:grid;
background:none;
type:button;
-webkit-text-decoration:none;
text-decoration:none;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
height:auto;
position:relative;
padding-top:16px;
padding-bottom:16px;
padding-left:20px;
padding-right:20px;
width:100%;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
box-sizing:border-box;
vertical-align:middle;

}
.ldGKnQ:focus{
outline:none;

}
.ldGKnQ:disabled{
cursor:default;
pointer-events:none;

}
.hprkOx{
padding:0;
margin:0;
border:none;
font-family:inherit;
font-weight:inherit;
font-size:inherit;
text-align:center;
cursor:pointer;
display:grid;
background:none;
type:button;
height:auto;
position:relative;
padding-top:16px;
padding-bottom:16px;
padding-left:20px;
padding-right:20px;
width:100%;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
box-sizing:border-box;
vertical-align:middle;

}
.hprkOx:focus{
outline:none;

}
.hprkOx:disabled{
cursor:default;
pointer-events:none;

}
data-styled.g10[id="sc-pFZIQ"]{
content:"ldGKnQ,hprkOx,"
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,menu,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;

}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
display:grid;

}
*[hidden]{
display:grid;

}
body{
line-height:1;

}
menu,ol,ul{
list-style:none;

}
blockquote,q{
quotes:none;

}
blockquote:before,blockquote:after,q:before,q:after{
content:'';
content:none;

}
table{
border-collapse:collapse;
border-spacing:0;

}
html{
font-family:Inter,sans-serif;
font-weight:500;
font-size:16px;
box-sizing:border-box;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;

}
html > *{
-webkit-letter-spacing:normal;
-moz-letter-spacing:normal;
-ms-letter-spacing:normal;
letter-spacing:normal;

}
*,*:before,*:after{
box-sizing:inherit;

}
data-styled.g15[id="sc-global-iHiuGe1"]{
content:"sc-global-iHiuGe1,"
}
.btjemE{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;

}
data-styled.g18[id="sc-kstrdz"]{
content:"btjemE,"
}
.iDDWep button#ot-sdk-btn.ot-sdk-show-settings{
font-size:9px;
-webkit-transition:color .25s cubic-bezier(0.08,0.59,0.29,0.99);
transition:color .25s cubic-bezier(0.08,0.59,0.29,0.99);

}
.iDDWep button#ot-sdk-btn.ot-sdk-show-settings:hover{
color:black;

}
data-styled.g23[id="sc-idOhPF"]{
content:"iDDWep,"
}
.hxSEDk{
overflow:hidden;
position:absolute;
top:50%;
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
pointer-events:none;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
border-radius:4px;
width:48px;
height:48px;

}
data-styled.g25[id="sc-hHftDr"]{
content:"hxSEDk,"
}
.hzKFm{
width:100%;

}
data-styled.g26[id="sc-dmlrTW"]{
content:"hzKFm,"
}
.dLQFuz{
-webkit-hyphens:auto;
-moz-hyphens:auto;
-ms-hyphens:auto;
hyphens:auto;
background:none;
color:inherit;
-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), -webkit-transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
overflow-wrap:break-word;
word-wrap:break-word;
word-break:break-word;
padding-left:44px;
padding-right:44px;

}
.dLQFuz:hover{
color:inherit !important;

}
.dLQFuz (min-width:576px){
padding:initial 66px;

}
.hzhcpT{
-webkit-hyphens:auto;
-moz-hyphens:auto;
-ms-hyphens:auto;
hyphens:auto;
background:none;
color:inherit;
-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), -webkit-transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
overflow-wrap:break-word;
word-wrap:break-word;
word-break:break-word;
padding-left:66px;
padding-right:66px;

}
.hzhcpT:hover{
color:inherit !important;

}
.hzhcpT (min-width:576px){
padding:initial 66px;

}
data-styled.g28[id="sc-fKFyDc"]{
content:"dLQFuz,hzhcpT,"
}
.cDkMQC{
z-index:0;
overflow:hidden;
-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),color .25s cubic-bezier(0.08,0.59,0.29,0.99), border-color .25s cubic-bezier(0.08,0.59,0.29,0.99),-webkit-transform .25s cubic-bezier(0.08,0.59,0.29,0.99), background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),color .25s cubic-bezier(0.08,0.59,0.29,0.99), border-color .25s cubic-bezier(0.08,0.59,0.29,0.99),transform .25s cubic-bezier(0.08,0.59,0.29,0.99), background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),color .25s cubic-bezier(0.08,0.59,0.29,0.99), border-color .25s cubic-bezier(0.08,0.59,0.29,0.99),transform .25s cubic-bezier(0.08,0.59,0.29,0.99), background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);
margin-bottom:16px;
border:none;
background-color:rgba(255,255,255,0.8);
color:#000;
-webkit-transition:-webkit-transform .15s cubic-bezier(0,.2,.5,3);
-webkit-transition:transform .15s cubic-bezier(0,.2,.5,3);
transition:transform .15s cubic-bezier(0,.2,.5,3);
box-shadow:0px 2px 4px 0px #0A0B0D14;
border-radius:4px;

}
@-webkit-keyframes topwave{
from{
-webkit-mask-position:0 top;
mask-position:0 top;

}to{
-webkit-mask-position:680px top;
mask-position:680px top;

}
}
@keyframes topwave{
from{
-webkit-mask-position:0 top;
mask-position:0 top;
display:grid;
}to{
-webkit-mask-position:680px top;
mask-position:680px top;
display:grid;
}
}
@-webkit-keyframes bottomwave{
from{
-webkit-mask-position:0 top;
mask-position:0 top;
display:grid;
}to{
-webkit-mask-position:-680px top;
mask-position:-680px top;
display:grid;
}
}
@keyframes bottomwave{
from{
-webkit-mask-position:0 top;
mask-position:0 top;

}to{
-webkit-mask-position:-680px top;
mask-position:-680px top;

}
}
.cDkMQC:hover{
-webkit-transform:scale(1.02);
-ms-transform:scale(1.02);
transform:scale(1.02);

}
.cDkMQC:hover .share-link-icon,.cDkMQC:focus-within .share-link-icon{
opacity:1;
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
pointer-events:auto;

}
.cDkMQC:hover .caret-icon,.cDkMQC:focus-within .caret-icon,.cDkMQC:hover .gate-icon,.cDkMQC:focus-within .gate-icon{
display:grid;

}
.cDkMQC .grecaptcha-badge{
opacity:0;

}
@-webkit-keyframes fadeBoxShadowInAndOut{
0%,100%{
box-shadow:inherit;

}15%,85%{
box-shadow:0 0 0 99999px rgba(0,0,0,0.8);

}
}
@keyframes fadeBoxShadowInAndOut{
0%,100%{
box-shadow:inherit;

}15%,85%{
box-shadow:0 0 0 99999px rgba(0,0,0,0.8);

}
}
data-styled.g29[id="sc-bBXqnf"]{
content:"cDkMQC,"
}
.bXCuV{
min-height:100vh;
min-height:100lvh;

}
data-styled.g39[id="sc-jJEJSO"]{
content:"bXCuV,"
}
.ikxKmn{
position:relative;

}
data-styled.g41[id="sc-gWHgXt"]{
content:"ikxKmn,"
}
.cHGPOa{
position:relative;

}
data-styled.g42[id="sc-cBNfnY"]{
content:"cHGPOa,"
}
.kajamm{
-webkit-appearance:none;
padding:0;
border:none;
outline:none;
font:inherit;
font-weight:400;
color:inherit;
background:none;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:grid;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
gap:0.25rem;
background-color:#f0f0f0;
color:#000000;
border:1px solid #e2e2e2;
border-radius:5rem;
width:40px;
height:40px;
box-shadow:0 0 0 0 transparent;
-webkit-transition:box-shadow 0.2s ease,background-color 0.2s ease,color 0.2s ease;
transition:box-shadow 0.2s ease,background-color 0.2s ease,color 0.2s ease;

}
data-styled.g43[id="sc-citwmv"]{
content:"kajamm,"
}
.hrCIoP{
position:absolute;
-webkit-transform:scale(0.5);
-ms-transform:scale(0.5);
transform:scale(0.5);
-webkit-transition:-webkit-transform 0.1s ease,opacity 0.2s ease;
-webkit-transition:transform 0.1s ease,opacity 0.2s ease;
transition:transform 0.1s ease,opacity 0.2s ease;
opacity:0;
right:0;
top:0;
height:100%;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;

}
data-styled.g44[id="sc-jcVebW"]{
content:"hrCIoP,"
}
.eitYOY{
height:40px;
width:40px;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
z-index:10;
position:absolute;
top:50%;
overflow:hidden;
border-radius:50%;
opacity:0;
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
-webkit-transition:all 120ms ease-out;
transition:all 120ms ease-out;
display:grid;

}
@media (pointer:fine){
.eitYOY{
pointer-events:none;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:grid;
right:8px;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:grid;
color:currentColor;
border:none;
background-color:none;

}.eitYOY:hover{
background-color:rgba(0,0,0,0.12);
-webkit-flex-direction:row;
-ms-flex-direction:row;
flex-direction:row;

}
}
data-styled.g45[id="sc-bZSQDF"]{
content:"eitYOY,"
}
.esdhrP{
display:grid;
position:relative;
top:-92px;
visibility:hidden;

}
data-styled.g46[id="sc-iUuytg"]{
content:"esdhrP,"
}
.kFCyzt{
position:relative;
-webkit-hyphens:none;
-moz-hyphens:none;
-ms-hyphens:none;
hyphens:none;
-moz-hyphens:none;
-ms-hyphens:none;
-webkit-hyphens:none;

}
data-styled.g50[id="sc-jNMdTA"]{
content:"kFCyzt,"
}
.gteNRP{
display:grid;
width:100%;
left:0;
right:0;
grid-template-columns:1fr auto 1fr;
border:1px solid;
border-color:transparent;
border-radius:72px;
background-color:transparent;
-webkit-transition:background-color 150ms ease,-webkit-transform 100ms ease,backdrop-filter 150ms ease;
-webkit-transition:background-color 150ms ease,transform 100ms ease,backdrop-filter 150ms ease;
transition:background-color 150ms ease,transform 100ms ease,backdrop-filter 150ms ease;
-webkit-transition:background-color 150ms ease,-webkit-transform 150ms ease, -webkit-backdrop-filter 150ms ease;

}
@media (min-width:768px){
.gteNRP{
max-width:calc(704px + 84px);

}
}
data-styled.g83[id="sc-dtwoBo"]{
content:"gteNRP,"
}
.hNjdUX{
grid-column-start:2;
grid-row-start:1;
opacity:0;

}
data-styled.g84[id="sc-dacFzL"]{
content:"hNjdUX,"
}
.bHnzAl{
grid-column-start:1;
grid-row-start:1;
opacity:0;

}
data-styled.g85[id="sc-jUEnpm"]{
content:"bHnzAl,"
}
.kHEClt{
min-height:100vh;
min-height:100lvh;
position:relative;

}
data-styled.g87[id="sc-fvhGYg"]{
content:"kHEClt,"
}